@import 'variables';

.abtme {
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    width: 50%;
    background-color: $Darkmain-colour;
    flex: 1;
}

.h2{
    box-shadow: 10px 10px 5px black;
    width: 30%;
    background-color: $Darkmain-colour;
    text-align: center;
    padding: 10px;
    flex:1;
    max-height: 50px;

}

.firstpage {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.meimage img{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    border: 10px solid rgb(0, 0, 0);
    border-image: repeating-linear-gradient( 45deg, rgb(251, 226, 0), rgb(0, 0, 0) 1%, rgb(226, 251, 0) 1%, rgb(255, 238, 0) 8%) 10;
}

.meimage img:hover{
    filter: blur(4px);
}

.gallery img {
    box-shadow: 10px 10px 5px black;
}

.gallery img:hover {
    filter: blur(4px);
}

.header,
.site-header {

    background: rgb(2,0,36);
    background: linear-gradient(127deg, rgba(2,0,36,1) 0%, rgba(40,44,54,1) 0%, rgba(40,44,54,1) 11%, rgba(161,235,94,0) 100%, rgba(0,212,255,0) 100%);
}

.technology {
    box-shadow: 10px 10px 5px black;
}

@media (max-width: 767px) {
    .abtme {
        width: 100%;
    }
    
    .h2{
        width: 100%;
    
    }

    .firstpage {
        display: flex;
        flex-direction: column;
    }
}