@import '../../node_modules/normalize.css/normalize';
@import 'variables.scss';

@import 'blockquotes';
@import 'code';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ul, a {
    background-color: $secondary-colour;
}

ol, ul {
    padding-left: 1.5em;
    background-color: $secondary-colour;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: $secondary-colour;
}

.main {
    flex: 1 0 auto;
    padding: 1% 5%;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: $main-colour;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}


@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $main-colour;
    color: #222;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: $font-size;
}

/* Typografy */

body {
    line-height: 1.5rem;
    color: rgb(219, 219, 219);
    font-family: 'Lato', sans-serif;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}