//Lightmode
$main-colour: #f2f678;
$secondary-colour: #f6f9a8;
$text-colour: rgb(49, 49, 49);
$block: rgb(251, 251, 251); 
$tech: rgb(236, 236, 236);
$Htech: rgb(209, 209, 209);

//Darkmode
$Darkmain-colour: #282c36;
$Darksecondary-colour: #3d4453;
$Darktext-colour: rgb(255, 255, 255);
$Darkblock: rgb(49, 49, 49); 

//Other
$font-size: 2.5rem;
