//Lightmode
$main-colour:#F2F678;
$secondary-colour:#F6F9A8;
$text-colour: rgb(49, 49, 49);
$block:white; 
$tech: rgb(236, 236, 236);
$Htech: rgb(209, 209, 209);

//Darkmode
$Darkmain-colour:#06005f;
$Darksecondary-colour:#050047;
$Darktext-colour: white;
$Darkblock:rgb(49, 49, 49); 

//Other
$font-size:2.5rem;