{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="technology-container" role="main">
        {{ content }}

        {% for page in pages("technology") %}
            <a href="{{ page.url }}">
            <div class="technology">
                <h3>{{ page.title }}</h3>
                <p>Text om enskilda webb-technologier</p>
            </div>
            </a>
        {% endfor %}
    </div>
    <div class ="footer2">
        {% include 'incl/footer.twig' %}
    </div>
</body>